<!DOCTYPE html>
<html lang="en">

<%- include("partials/header")  %>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include("partials/sidebar"); -%>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include("partials/topbar"); -%>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Archive Promo Code</h1>

                    <span id="warning" style="color: red; display: none;">No service found!</span>
                    <div class="mb-3">
                        <label class="form-label">Promo ID</label>
                        <input style="width: 20rem;" id="promo_id" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <button onclick="triggerAPI()" class="btn btn-success">Search</button>
                    </div>

                    <hr>

                    <form id="myForm" style="width: 20rem;" method="post" action="/archive-promo">
                        <input hidden name="gotPromoID" id="gotPromoID" type="text">
                        <div class="mb-3">
                          <label class="form-label">Promo ID</label>
                          <input required id="promoID" disabled type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Promo Name</label>
                            <input required name="promoName" id="promoName" disabled type="text" class="form-control">
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Status</label>
                          <select disabled required id="promoStatus" name="status" class="form-control form-select" aria-label="Default select example">
                            <option disabled value="" selected>Choose an option</option>
                            <option value="true">Active</option>
                            <option value="false">Not Active</option>
                          </select>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include("partials/footer")  %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
<script>
      function toggleInput(elementName) {
  const inputField = document.getElementById(elementName);
  inputField.disabled = !inputField.disabled;
}
        function triggerAPI(){
        const promo_id = document.getElementById("promo_id").value;
        fetch(`/getpromo?promo_id=${promo_id}`)
  .then(response => response.json())
  .then(data => {
    // Handle the data returned from the API
    if(data != null){
        document.getElementById("promoID").value = data.id;
        document.getElementById("promoName").value = data.code;
        document.getElementById("gotPromoID").value = data.id;
        if (data.active === true){
          toggleInput("promoStatus");
          function selectOption() {
  const selectElement = document.getElementById('promoStatus');
  selectElement.selectedIndex = 1; 
}
selectOption();
        } else {
          toggleInput("promoStatus");
          function selectOption() {
  const selectElement = document.getElementById('promoStatus');
  selectElement.selectedIndex = 2; 
}
selectOption();

        }
    } else {
        Swal.fire({
  icon: 'error',
  title: 'No service found!',
});
    }
    // Do something with the fruit information
  })
  .catch(error => {
    // Handle any errors that occurred during the API call
    console.error('Error:', error);
  });
    }
</script>
<script>
          $( document ).ready(function() {
        if (<%- success %>){
            Swal.fire({
  icon: 'success',
  title: 'Promo Code Modified!'
});
        } 

        if (<%- error %>){
          Swal.fire({
  icon: 'error',
  title: 'Something went wrong!'
});
        }
});
</script>
</body>

</html>